<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddMedicoServlet</servlet-name>
        <servlet-class>sacome.servlets.AddMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarMedicoServlet</servlet-name>
        <servlet-class>sacome.servlets.GravarMedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPacienteServlet</servlet-name>
        <servlet-class>sacome.servlets.AddPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarPacienteServlet</servlet-name>
        <servlet-class>sacome.servlets.GravarPacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerMedicosServlet</servlet-name>
        <servlet-class>sacome.servlets.VerMedicosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>sacome.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacienteLoginServlet</servlet-name>
        <servlet-class>sacome.servlets.PacienteLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicoLoginServlet</servlet-name>
        <servlet-class>sacome.servlets.MedicoLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GravarConsultaServlet</servlet-name>
        <servlet-class>sacome.servlets.GravarConsultaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddConsultaServlet</servlet-name>
        <servlet-class>sacome.servlets.AddConsultaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMedicoServlet</servlet-name>
        <url-pattern>/admin/addMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarMedicoServlet</servlet-name>
        <url-pattern>/admin/gravarMedico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPacienteServlet</servlet-name>
        <url-pattern>/admin/addPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarPacienteServlet</servlet-name>
        <url-pattern>/admin/gravarPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerMedicosServlet</servlet-name>
        <url-pattern>/listaMedicos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacienteLoginServlet</servlet-name>
        <url-pattern>/paciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoLoginServlet</servlet-name>
        <url-pattern>/medico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GravarConsultaServlet</servlet-name>
        <url-pattern>/paciente/gravarConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddConsultaServlet</servlet-name>
        <url-pattern>/paciente/addConsulta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/erro.jsp</location>
    </error-page>
</web-app>
